<!-- <div class="mycontainer"> -->
<!-- <div class="card text-white bg-primary m-5" style="max-width: 18rem">
        <div class="card-header text-center">Eldoret</div>
        <div class="card-body">
          <p class="card-text">Summary: Rain</p>
          <p class="card-text">Temperature: 50° F</p>
          <p class="card-text">Feels Like: 52° F</p>
          <p class="card-text">Pressure: 1024 hPa</p>
          <p class="card-text">Humidity: 50%</p>
        </div>
      </div> -->
<!-- </div> -->
<!-- </div> -->

<div class="mycontainer">
  <div class="container">
    <div class="left-data">
      <div class="paragraph">
        <!-- <img src="../assets/bg_image.png">  -->
        <h1 style="font-size: xx-large; font-weight: bold">{{ city }}</h1>
        <p>17th/02/2022</p>
        <p style="font-size: larger">TODAY</p>
      </div>
      <div class="Eldoret">
        <!-- <p><img src="{{ iconURL }}" alt=" weather image" /></p> -->
        <p>{{ weatherData.temp }}</p>
        <p>SUNNY</p>
      </div>
    </div>
    <div class="right-data mr-7">
      <div class="weather">
        <p>PRECIPITATION 0%</p>
        <p>HUMIDITY: {{ weatherData.main.humidity }}</p>
        <p>WIND 3 km/h</p>
      </div>
      <div class="climate">
        <div class="Mon">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <h4>Mon</h4>
          <p>{{ weatherData.temp }}°C</p>
        </div>
        <div class="Tue">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <h4>Tue</h4>
          <p>{{ weatherData.list.main.temp }}</p>
        </div>
        <div class="Wen">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <h4>Wen</h4>
          <p>25 °C</p>
        </div>
        <div class="Thur">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <h4>Thur</h4>
          <p>13°C</p>
        </div>
        <div class="Fri">
          <i class="fa fa-sun-o" aria-hidden="true"></i>
          <h4>Fri</h4>
          <p>21 °C</p>
        </div>
      </div>
      <div class="search"></div>
    </div>
  </div>
</div>
