<div class="header-body bg-danger pb-8 pt-4 pt-md-5"></div>
<div class="container-fluid rounded" style="padding: 70px">
  <h2 class="mb-3 font-weight-bold">Weather Assistant how may I help</h2>
</div>
<div class="container-fluid" style="padding-left: 10%">
  <nav>
    <a routerLink="/weather-app" class="btn btn-primary btn-lg"
      ><span>Today's weather</span></a
    >
    &nbsp; &nbsp;

    <a routerLink="/five-day-forecast" class="btn btn-primary btn-lg"
      ><span>Five day weather Forecast</span></a
    >
    &nbsp; &nbsp;

    <a routerLink="/recommendations" class="btn btn-primary btn-lg"
      ><span>Recommendations</span></a
    >
    &nbsp; &nbsp;

    <a routerLink="/activities" class="btn btn-primary btn-lg"
      ><span>Activity</span></a
    >
    &nbsp; &nbsp;
  </nav>
  <div class="copyright text-center text-xl-left text-muted" style="padding-top: 70px;">
    <a href="#" class="font-weight-bold ml-1"
     target="_blank">sirma@openweatherAPI</a>
   </div>
</div>